/* Elements _______________________________________________________*/

body {
  background-color: rgb(248, 248, 248);
}

html {
  font-family: "Arial", sans-serif;
}

header {
  padding: 25px;
}

a {
  text-decoration: none;
  color:rgb(49, 49, 49)
}

section {
  max-width: 1200px;
  margin:0 auto;
  padding: 10%;
}

/* Nav links _______________________________________________________*/

a:hover,a:focus {
  color: plum;
}

/* Classes -----------------------------------------------------------*/

.body-text {
  display: flexbox;
  flex-direction: column;
  padding: 3%;
}

.header-section {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.nav-links {
  color: black;
  display: flex;
  flex-direction: column;
  margin-right: 2%;
}

.a-tag {
  padding: 10%;
}

.title-statement {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  text-align: center;
  margin-top: 15%;
}

.binary-code {
display: none;
font: size 14px;
color: rgb(161, 161, 161);
text-align: center;
margin-left: 32%;
margin-right: 32%;
}

.text-text {
  margin-top: 30%;
  padding-left: 50px;
  margin-right: 47%;
}

/* IDs -----------------------------------------------------------*/

#column-main {
  display: inline-block;
  text-align: center;
  padding-left: 30%;
  margin: 30%;

}

#logo-box {
  /*border: 5px;*/
  /*padding-block: 1%;*/
  min-width: 10%;
  background-color: black;
  margin-bottom: 90px;
  /*margin-left: 2%;*/
}

#sam-title {
  display: flex;
  justify-content: center;
  color: white;
  margin: 5%;
  font-size: medium;
  font-weight: 200;
  /*put box here*/
}
/*how to align the text center within the box?*/

/* Media Queries -----------------------------------------------------------*/

@media (min-width: 600px) {
  .body-text {
    display: flexbox;
    flex-direction:
    padding: 3%;
  }
  .header-section {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  #logo-box {
    /*border: 5px;*/
    padding-left: 5%;
    padding-right: 5%;
    width: 10%;

    background-color: black;
  }

  #sam-title {
    display: flex;
    justify-content: center;
    color: white;
    font-size: medium;
    font-weight: 200;
  }
}

@media (min-width: 900px) {
  .body-text {
    display: flexbox;
    flex-direction: column;
    padding: 3%;
  }
  .header-section {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  .binary-code {
    display: block;
    }
}

@media (min-width: 1200px) {
  .body-text {
    display: flexbox;
    flex-direction: column;
    padding: 3%;
  }
  .header-section {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}
